# Compose Specification (pas de clé version : obsolète depuis Compose V2)
services:
  app:
    container_name: laumond-nuxt
    image: ghcr.io/paulo54360/laumondv2:latest
    pull_policy: always
    restart: always
    ports:
      - '3000:3000'
    environment:
      - NUXT_PUBLIC_API_URL=${NUXT_PUBLIC_API_URL:-https://plaumondpicture.s3.eu-west-3.amazonaws.com}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - NUXT_SUPABASE_URL=${SUPABASE_URL}
      - NUXT_SUPABASE_KEY=${SUPABASE_KEY}
      - NUXT_SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - NUXT_PUBLIC_SUPABASE_URL=${SUPABASE_URL}
      - NUXT_PUBLIC_SUPABASE_KEY=${SUPABASE_KEY}
      - NUXT_PUBLIC_GTAG_ID=${NUXT_PUBLIC_GTAG_ID}
      - NUXT_AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID}
      - NUXT_AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - NUXT_AWS_REGION=${AWS_REGION}
      - NUXT_S3_BUCKET=${S3_BUCKET}
      - NUXT_GA4_PROPERTY_ID=${GA4_PROPERTY_ID}
      - NUXT_GOOGLE_CREDENTIALS_BASE64=${GOOGLE_CREDENTIALS_BASE64}
    # If you need to mount volumes for persistence or config
    # volumes:
    #   - ./logs:/app/logs
