# Compose Specification (pas de clé version : obsolète depuis Compose V2)
services:
  app:
    container_name: laumond-nuxt
    image: ghcr.io/paulo54360/laumondv2:latest
    pull_policy: always
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NUXT_PUBLIC_API_URL=${NUXT_PUBLIC_API_URL:-https://plaumondpicture.s3.eu-west-3.amazonaws.com}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_KEY=${SUPABASE_KEY}
      - NUXT_SUPABASE_URL=${SUPABASE_URL}
      - NUXT_SUPABASE_KEY=${SUPABASE_KEY}
      - NUXT_PUBLIC_GTAG_ID=${NUXT_PUBLIC_GTAG_ID}
    # If you need to mount volumes for persistence or config
    # volumes:
    #   - ./logs:/app/logs
